{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'orders/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <!-- Cart Items -->

        {% for item in cart %}
            <div class="cart-item">
                <div class="item-info">
                    <h3>{{item.product.name}}</h3>
                    <p>Quantity: {{item.quantity}}</p>
                </div>
                <div style="margin-right: 10px;" class="item-total ">{{item.total_price}}</div>
                <a href="{% url 'orders:cart_remove' item.product.id %}" class="btn btn-danger"> Delete </a>
            </div>
        {% endfor %}

        <!-- Cart Summary -->
        <div class="cart-summary">
            <div class="total-label">Total:</div>
            <div class="total-price">{{cart.get_total_price}}</div>
        </div>

        <!-- Checkout Button -->
        <a href="{% url 'orders:order_create' %}" class="checkout-btn">Checkout</a>
    </div>

{% endblock %}