.reset-container {
    max-width: 900px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.reset-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--green-dark);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.reset-card {
    flex: 1 1 calc(45% - 1rem); /* Take 45% width in larger screens */
    padding: 1.5rem;
    background-color: var(--white);
    border: 2px solid var(--green-medium);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    min-width: 250px; /* Minimum width for smaller screens */
}

.reset-card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.reset-card h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.reset-card p {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    color: var(--green-dark);
}

.reset-card button {
    background-color: var(--green-dark);
    color: var(--white);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-card button:hover {
    background-color: var(--green-medium);
}

.reset-card .icon {
    font-size: 2rem;
    color: var(--green-medium);
    margin-bottom: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .reset-card {
        flex: 1 1 100%; /* Full width on small screens */
    }
}

.icon-custom {
    color: #bc4749;
}