{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'articles/css/show-articles-styles.css' %}">
{% endblock %}

{% block content %}

    <br><br><hr><br><br>

    <div class="banner">
        <h1>Website Articles</h1>
        <p>Read all our practical articles here</p>
    </div>
    <br><br>

    <div class="articles-container">
        <div class="row g-4">

            {% for article in articles %}
                <div class="col-md-4">
                    <div class="article-card">
                        <img src="{{host_name}}{{article.thumbnail}}" alt="{{article.keyword}}">
                        <a style="text-decoration: none;" href="{% url 'articles:article' article.slug %}">
                            <div class="article-card-body">
                                <h2 class="article-title">{{article.title}}</h2>
                                <div class="article-meta">
                                    <div class="meta-item"><i class="bi bi-eye"></i> {{article.views}} Views</div>
                                    <div class="meta-item"><i class="bi bi-chat-left-dots"></i> {{article.article_comments|length}} Comments</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

        <!-- Pagination -->
        <div class="pagination">
            {% if articles.has_previous %}
                <button onclick="window.location.href='?page={{ articles.previous_page_number }}'">&laquo; previous</button>
            {% endif %}
            {% if articles.has_next %}
                <button onclick="window.location.href='?page={{ articles.next_page_number }}'">Next &raquo;</button>
            {% endif %}

        </div>

    </div>

    <br><br><br>

{% endblock %}