{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/register-styles.css' %}">
{% endblock %}

{% block content %}

    <div class="register-card-wrapper">
        <div class="register-card" style="text-align: center;" >
            <!-- Left Image Section -->
            <div class="form-image" style="background: url('https://s3.ir-thr-at1.arvanstorage.ir/flower-store/flower-login.png') no-repeat center center;"></div>

            <!-- Form Section -->
            <div class="form-content">
                <h2 class="form-title">Log in To Your Account</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary w-100">login</button>
                </form>

                <!-- Footer -->
                <div class="form-footer">
                    <a href="{% url 'accounts:user_reset_password' %}">Forgot your password?</a><br>
                    Already have an account? <a href="{% url 'accounts:user_login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}