{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock %}

{% block content %}

    <div class="main-container">
        <!-- Page Title -->
        <div class="page-title">ایمیل خود را وارد کنید</div>

        <!-- Form Container -->
        <div class="register-container">

            <!-- Right side for form -->
            <div class="register-form-container">
                <h2>Enter your Email</h2>
                <form class="register-form" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">">Send Reset Link</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}