{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock %}

{% block content %}
    {% if validlink %}
    <div class="main-container">
        <!-- Page Title -->
        <div class="page-title">تغییر رمز عبور</div>

        <!-- Form Container -->
        <div class="register-container">
            <!-- Left side for image -->
            <div class="register-image">
                <img src="https://via.placeholder.com/300x400?text=Beautiful+Plant" alt="Beautiful Plant">
            </div>

            <!-- Right side for form -->
            <div class="register-form-container">
                <h2>Change Your Password</h2>
                <form class="register-form" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <p class="text-center">این لینک معتبر نیست‌, لطفا دوباره تلاش کنید</p>
    {% endif %}

{% endblock %}