{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/reset-phone-style.css' %}">
{% endblock %}

{% block content %}

    <div class="reset-card" style="margin: 100px auto;">
        <h1>Reset Password</h1>
        <p>Enter your phone number to receive a verification code.</p>
        <form class="register-form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Code To Phone</button>
        </form>
    </div>

{% endblock %}