{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/confirm-email-password-styles.css' %}">
{% endblock %}

{% block content %}

    <div class="confirmation-card" style="margin: 100px auto;">
        {% if validlink %}
            <!-- حالت لینک معتبر -->
            <h1>Reset Your Password</h1>
            <p>Enter your new password below to reset it.</p>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Change Password</button>
            </form>
        {% else %}
            <!-- حالت لینک نامعتبر -->
            <h1>Invalid Link</h1>
            <p class="error-message">The link you used is invalid. Please try again.</p>
        {% endif %}
    </div>
{% endblock %}