{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock %}

{% block content %}


    <div class="main-container">
        <!-- Form Container -->
        <div class="register-container">

            <!-- Right side for form -->
            <div class="register-form-container">
                <h2>Enter Code</h2>
                <form class="register-form" action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">">Send Code</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}