{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/reset-choice-page.css' %}">
{% endblock %}

{% block content %}

    <br>
    <div class="reset-container" style="margin-top: 20px; margin: 30px auto;">
        <h1 class="reset-title">Choose a Password Reset Method</h1>
        <div class="cards-container">
            <!-- Reset by Phone -->
            <div class="reset-card">
                <i class="bi bi-phone-fill fs-1 icon-custom"></i>
                <h3>Reset via Phone</h3>
                <p>Receive a verification code on your registered phone number.</p>
                <a href="{% url 'accounts:user_reset_password_phone' %}"><button onclick="resetByPhone()">Choose</button></a>
            </div>

            <!-- Reset by Email -->
            <div class="reset-card">
                <i class="bi bi-envelope-paper-fill fs-1 icon-custom"></i>
                <h3>Reset via Email</h3>
                <p class="pb-md-4">Receive a reset link on your registered email address.</p>
                <a href="{% url 'accounts:user_reset_password_email' %}"><button onclick="resetByEmail()">Choose</button></a>
            </div>
        </div>
    </div>
    <br><br><br>

{% endblock %}

{% block scripts %}
    <script>
        function resetByPhone() {
            // Redirect to phone reset page
            window.location.href = "/reset-password/phone/";
        }

        function resetByEmail() {
            // Redirect to email reset page
            window.location.href = "/reset-password/email/";
        }
    </script>
{% endblock %}
