{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'accounts/css/reset-choice-page.css' %}">
{% endblock %}

{% block content %}
     <div class="container">
        <div class="title">Choose a Method to Reset Your Password</div>
        <div class="description">
            You can reset your password using one of the methods below. Select the option that works best for you.
        </div>

        <div class="link-options">
            <!-- Reset by Phone -->
            <div class="link-card">
                <h3>Reset via Phone</h3>
                <p>Use your registered phone number to reset your password.</p>
                <a href="{% url 'accounts:user_reset_password_phone' %}">Reset via Phone</a>
            </div>

            <!-- Reset by Email -->
            <div class="link-card">
                <h3>Reset via Email</h3>
                <p>Use your registered email address to reset your password.</p>
                <a href="{% url 'accounts:user_reset_password_email' %}">Reset via Email</a>
            </div>
        </div>
    </div>
{% endblock %}
